[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/yuvipanda/hugo-theme-cactus-plus.git
[submodule "theme/hugo-theme-bootstrap4-blog"]
	path = themes/hugo-theme-bootstrap4-blog
	url = https://github.com/yuvipanda/hugo-theme-bootstrap4-blog.git
